h1{
    color:aqua
}
h2{
    color:antiquewhite
}
.bodyimg{
    background-image:url("images/bg.jpg") ;
    border:solid 5px gray;
}
.header{
    background-color: brown;
    border:solid 5px gray
}
.items{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-bottom-color: orange;
    border-bottom:solid 10px orange;
    background-color: cadetblue;
    border: solid 10px #00008F

}
.item{
    background-color: burlywood;
    border:dashed #808080
}
.item2{
    background-color:burlywood;
    border:dashed #808080
}
.item3{
    background-color:burlywood;
    border:dashed #808080
}
.items hr{
    border: solid black
}
.facts1{
    position: relative;
    left:20px;
    margin:20px;
    border: dashed #FFFFFF
}
.facts2{
    position: relative;
    left:20px;
    margin:20px;
    border: dashed #FFFFFF
}
.facts3{
    position: relative;
    left:20px;
    margin:20px;
    border: dashed #FFFFFF
}

