.menu a:hover{
    color:green;
}
h1{
    color:aqua
}
h2{
    color:antiquewhite
}
.bodyimg{
    background-image:url("images/bg.jpg") ;
    border:solid 5px gray;
}
.header{
    background-color: brown;
    border:solid 5px gray
}
.items{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-bottom-color: orange;
    border-bottom:solid 10px orange;
    background-color: cadetblue;
    border: solid 10px #00008F

}
.items img{
    background-color: burlywood;
    border:dashed #808080
}
.items hr{
    border: solid black
}

.facts ul{
    border: dashed #FFFFFF
}

.items img:hover{
    transform:scale(1.2);
}


